# MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/vaquinha

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Servidor
PORT=5000
NODE_ENV=development

# Pix - Nubank
PIX_KEY=aa8609ba-23cb-46e5-910f-dbc2164d05d2
PIX_BANK=Nubank

# CORS
CORS_ORIGIN=http://localhost:3000,https://pradoarthurbandeira-dotcom.github.io